@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Poppins-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
}


@font-face {
    font-family: "icomoon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    speak: never;
    src: url("../fonts/icomoon.ttf") format("truetype");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}